@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fasthand&family=Fira+Sans&family=Geologica:wght@100&family=Kanit&family=Lily+Script+One&family=Lobster&family=Lora&family=Mukta:wght@300&family=Noto+Serif&family=Playfair+Display&family=Roboto:wght@300&family=Sarabun:wght@100&family=Satisfy&family=Ubuntu+Mono&display=swap');

.footer {
    color: aliceblue;
    height: 12.5vh;
    background-color: rgb(136, 55, 55);
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    z-index: 2;
}

/* project card */

.projectCard {
    margin: 3%;
    width: 25%;
    height: 30vh;
    background-color: rgb(136, 55, 55);
    border-radius: 9px;
    transition: all 0.5s ease-in-out;
    box-shadow: 10px 10px 3px rgb(14, 12, 12);
    /* opacity: 0; */
    animation: projectCard 3s 1 ease-in-out;
    z-index: 1;

}

.projectCard:hover {
    box-shadow: 0px 0px 0px rgb(14, 12, 12);
    cursor: pointer;
    /* background-color: #5374932b; */
    /* transform: rotateX(360deg) rotateY(360deg); */
}

.projectCard:hover .pname {
    color: aliceblue;
}


.pname {
    padding-top: 10%;
    height: 50%;
    font-weight: bold;
    font-size: 28px;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Lora', serif;
    color: rgb(40, 40, 40);
    transition: all 0.5s ease-in-out;
}

.pdescription {
    font-size: large;
    /* display: none; */
    color: #f4aaaa;
    padding-top: 5%;
    /* padding-left: 5%; */
    text-transform: capitalize;
    font-family: 'Lora', serif;
    transition: all 1s ease-in-out;
    text-align: center;
}

.alllogos {
    padding-left: 20%;
    padding-right: 20%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* flex-direction: column; */
}

.imglogo,
.il1,
.il2,
.il3 {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    margin: 1%;
    z-index: 1;
    background-color: rgb(29, 29, 29);
    /* border-left: 2px solid grey; */
    /* border: 1px solid black; */
    box-shadow: 1px 1px 10px rgb(132, 64, 64);
    /* background-color: #fff; */
    animation: img 2s infinite ease;
}

.il1 {
    animation: img 2s 1s infinite ease;
}

.il2 {
    animation: img 2s 2s infinite ease;
}

.il3 {
    animation: img 2s 3s infinite ease;
}
.nav{
    height: 10vh;
    width: 100%;
    background-color: rgb(40, 40, 40);
    z-index: 1;
    display: flex;
    justify-content: center;
}
.item{
    margin: 2% 4%;
}
.linknav{
    color: #f4aaaa;
    text-decoration: none;
    padding: 2% 10%;
    font-size: larger;
    animation: nav 3s   infinite  ease;
    letter-spacing: 1.5px;
}
@keyframes img {
    50% {
        box-shadow: 1px 1px 8px rgb(232, 151, 151);
    }
}

@keyframes nav {
    50%{
        text-shadow: 0px 0px 10px pink;
    }
}
@keyframes projectCard {
    0.1% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .projectCard {
        width: 90%;
        height: 28vh;
    }
    .item{
        margin-top: 20px;
    }
    .linknav{
        font-size: 17px;
    }
}