@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fasthand&family=Fira+Sans&family=Geologica:wght@100&family=Hind:wght@300&family=Josefin+Sans:wght@100&family=Kanit&family=Lily+Script+One&family=Lobster&family=Lora&family=Merriweather:wght@300&family=Mukta:wght@300&family=Noto+Serif&family=Playfair+Display&family=Roboto:wght@300&family=Sarabun:wght@100&family=Satisfy&family=Tilt+Prism&family=Ubuntu+Mono&display=swap');

.body,
.bodyk {
    background-color: rgb(40, 40, 40);
    width: 100%;
    min-height: 80vh;
    color: antiquewhite;
}

.body {
    position: relative;
}

.bodyk {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding-top: 3%;
    display: flex;
    /* flex-direction: column; */
    padding-left: 10%;
    flex-wrap: wrap;
}

.formbody {
    width: 30%;
    border: 3px solid grey;
    /* background-color: rgb(40, 40, 40); */
    z-index: 1;
    padding: 5%;
    border-radius: 10%;
    box-shadow: 1px 1px 10px white;
    transition: all 1s ease-in-out;
    height: 70vh;
    animation: form 2s infinite ease;
}

.inputdiv {
    padding-top: 3%;
}

.label {
    letter-spacing: 1.7px;
    color: grey;
    text-transform: capitalize;
    margin: 4px 4px 4px 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    font-weight: lighter;
}

.input {
    text-transform: capitalize;
    padding-left: 9px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1.5px;
    background-color: rgb(40, 40, 40);
    border: 2px solid rgb(56, 55, 55);
    border-radius: 10px;
    width: 100%;
    color: rgb(214, 151, 151);
}

.button {
    margin-top: 10px;
    background-color: rgb(125, 83, 90);
    border: none;
    color: rgb(213, 231, 231);
    padding: 3px 9px 3px 9px;
    border-radius: 5px;

}

.success {
    padding-top: 4%;
    color: rgb(82, 218, 82);
}

.error {
    padding-top: 4%;
    color: rgb(255, 45, 45);
}

.line1 {
    height: 2px;
    width: 20%;
    background-color: grey;
}

.contact_div {
    /* background-color: #fff; */
    height: 70vh;
    width: 50%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_div h2 {
    color: rgb(228, 133, 149);
    font-family: 'Hind', sans-serif;
    text-transform: capitalize;
}

.inside_contact_div {
    border: 2px solid gray;
    border-radius: 20px;
    justify-content: center;
    height: 20%;
    width: 60%;
    display: flex;
}

.logos_contact {
    margin: auto 5%;
}

.innlogo {
    background-color: rgb(228, 133, 149);
    border-radius: 50%;
    transition: all 0.5s ease;
}

.innlogo:hover {
    background-color: pink;
    box-shadow: 1px 1px 10px white;
}

@keyframes form {
    50% {
        box-shadow: 1px 1px 20px white;
    }
}

@media only screen and (max-width: 600px) {
    .formbody {
        width: 90%;
    }

    .contact_div {
        width: 80%;
    }
}