@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Carter+One&family=Kanit:ital@0;1&family=Lato&family=Nunito+Sans:wght@300&family=Passions+Conflict&family=Roboto:ital,wght@1,300&family=Rubik+Dirt&family=Rubik+Pixels&family=The+Girl+Next+Door&display=swap');

.body {
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 100vh;
    color: antiquewhite;
    position: relative;
    /* z-index: -2; */
}

.hline1,
.hline2 {
    width: 94%;
    height: 10px;
    background-color: rgb(56, 55, 55);
    position: absolute;
    bottom: 5%;
    animation: hl1 2.5s 1 ease-in;
}

.hline2 {
    position: absolute;
    width: 96%;
    bottom: 8%;
    animation: hl2 2.5s 1 ease-in;
}

.vline1,
.vline2 {
    width: 50%;
    height: 10px;
    background-color: rgb(88, 87, 87);
    position: absolute;
    right: -10%;
    bottom: 50%;
    transform: rotate(90deg) translate(0px, -90px);
    animation: vl1 2.5s 1 ease-in;
}

.vline2 {
    right: -11.7%;
}

.tohomeButton {
    height: 20%;
    width: 30%;
    border: 9px solid pink;
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.tohomeButton:hover {
    border: 16px solid pink;
    font-size: 37px;
}

.link {
    text-decoration: none;
    color: pink;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Sarabun', sans-serif;
    transition: all 0.3s ease;
}

.link:hover {
    font-size: 35px;
}

.porfoliodiv {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
}

.portfolio,
.developer,
.coder,
.psolver {
    text-transform: capitalize;
    font-size: 80px;
    letter-spacing: 2px;
    font-family: 'Neonderthaw', cursive;
    color: rgb(186, 186, 186);
    z-index: 2;
}

.developer {
    padding-top: 8%;
    animation: dev 1s ease;
    font-family: 'The Girl Next Door', cursive;

}

.coder {
    font-family: 'The Girl Next Door', cursive;

    animation: cod 1.5s 1 ease;
}

.psolver {
    font-family: 'The Girl Next Door', cursive;

    animation: psol 2s ease;

}

.btn {
    border-radius: 50%;
    position: absolute;
    bottom: 15%;
    right: 15%;
    animation: btn 4s 1 ease;
    transition: all 1s ease;
}

.btn:hover {
    bottom: 15%;
    right: 15%;
}

.arrow:hover {
    height: 13vh;
    box-shadow: 1px 1px 50px white;
}

.arrow {
    border-radius: 50%;
    height: 10vh;
    color: rgb(133, 132, 132);
    transition: all 1s ease;
}

@keyframes btn {
    0.1% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



@keyframes dev {
    0.1% {
        transform: translate(-520px, 0px);
    }

    81% {
        transform: translate(-520px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes psol {
    0.1% {
        transform: translate(-780px, 0px);
    }

    90% {
        transform: translate(-780px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes cod {
    0.1% {
        transform: translate(-290px, 0px);
    }

    90% {
        transform: translate(-290px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes vl1 {
    0.1% {
        transform: rotate(90deg) translate(-1740px, -90px);
    }

    80% {
        transform: rotate(90deg) translate(-1740px, -90px);
    }

    100% {
        transform: rotate(90deg) translate(0px, -90px);
    }
}

@keyframes hl1 {
    0.1% {
        transform: translate(-2430px);
    }

    80% {
        transform: translate(-2430px);
    }

    100% {
        transform: translate(00px);
    }
}

@keyframes hl2 {
    0.1% {
        transform: translate(-2430px);
    }

    80% {
        transform: translate(-2430px);
    }

    100% {
        transform: translate(00px);
    }
}

@media only screen and (max-width: 600px) {

    .tohomeButton {
        height: 16%;
        width: 45%;
        top: 35%;
        left: 25%;

    }

    .tohomeButton:hover {
        border: 11px solid pink;
        font-size: 7px;
    }

    .link {
        text-align: center;
        font-size: 20px;
    }

    .link:hover {
        font-size: 23px;
    }

    .portfolio {
        font-size: 60px;
        padding-top: 20%;
    }

    .developer,
    .coder,
    .psolver {
        font-size: 40px;
    }

    .developer {
        padding-top: 35%;
    }

    .vline1,
    .vline2 {
        width: 200%;
        height: 2px;
        right: -69%;
    }

    .vline2 {
        right: -70.7%;
    }

    .hline1,
    .hline2 {
        width: 94%;
        height: 5px;
    }

    .hline2 {
        width: 96%;
        bottom: 6%;
    }
}